.diceContainer {
    max-width: 1182px;
    width: 1182px;
    margin: 0 auto;
    height: 522px;
    display: flex;
    margin-top: 24px;
 
}

.diceRoll {
    width: 250px;
    height: 449px;
    /* background-color: brown; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cubicGambling {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.click {
    /* display: flex;
    justify-content: center; */
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttonDir{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}